body {
    background-color:yellow;
}

p{
    color:green;
    text-align: center;
}

h1{
    font-size: 36px;
    text-align: center;
}

h2{
    text-align: center;
}

ol{
    text-align: center;
}

#cool-text{
    color: blue;
}

#orange-text{
    color: orange;
}

#purple-text{
    color: purple;
}